# Application Settings
PORT=3002
ACCESSTOKENKEY=d48cc868c3e1c5705c87c189eb096f91fc7c5ce3e9e444edb67376b91414ee72
REFRESHTOKENKEY=91ec33d659ea6e1c6c14d23f6c5841c8704e5596b36484e320d34ddcc73959d8

# Database Connection Settings
DBUSER=postgres
DATABASE=postgres

# Hostname when using authcompanion with docker
DBHOSTNAME=db

# Hostname example if running authcompanion locally
# DBHOSTNAME=localhost

DBPASSWORD=mydbsecretpwd
DBPORT=5432

# SMTP Mail & User Recovery Settings
SMTP_HOSTNAME=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=bacbc970eaf84d
SMTP_PASSWORD=8ac0afa8cf2e19
FROM_ADDRESS=from@example.com

RECOVERY_REDIRECT_URL=http://localhost:3001/recovery/

# Logging Settings
LOGLEVEL=INFO
LOGHANDLER=console

#CORS Settings
ORIGIN=*
SECURE=true