######################## NOTE #########################
#*   This file describes the default AUTHC settings  *#
#*   !!   Uncommented variables are required   !!    *#
#######################################################

################## General Settings ###################
## Port that AUTHC will listen on
PORT=3002

## Logging Level Settings
LOG_LEVEL=INFO
LOG_HANDLER=console

## Cross-Origin Resource Sharing (CORS) Settings
ORIGIN=http://localhost:3001
SECURE=false

## URL used in recovery email to redirect user back to UI for updating their password
RECOVERY_REDIRECT_URL=http://localhost:3001/recovery/

## URL to send webhooks to as well as secret string
WEBHOOK_URL=""
WEBHOOK_SECRET=mywebhooksecret

#--------------------- Database ----------------------#
DB_USER=postgres
DATABASE=postgres
## Database hostname defaults to hostname of DB used in docker-compose
## Change value to 'localhost' if running AUTHC locally
DB_HOSTNAME=db
DB_PASSWORD=mydbsecretpwd
DB_PORT=5432
MAX_DB_CONNECTIONS=20

######################### JWT #########################
## Secret key used to generate the access JWT token
ACCESS_TOKEN_KEY=d48cc868c3e1c5705c87c189eb096f91fc7c5ce3e9e444edb67376b91414ee72
## Secret key used to generate the refresh JWT token
REFRESH_TOKEN_KEY=91ec33d659ea6e1c6c14d23f6c5841c8704e5596b36484e320d34ddcc73959d8

#################### SMTP options #####################
SMTP_HOSTNAME=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=bacbc970eaf84d
SMTP_PASSWORD=8ac0afa8cf2e19
FROM_ADDRESS=from@example.com


